Unidad 4/Ejercicios/impresora.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="impresoras">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="impresora" minOccurs="1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="marca" minOccurs="1"/>
                            <xs:element type="xs:string" name="modelo" minOccurs="1"/>
                            <xs:element name="peso" minOccurs="1">
                              	<xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:minExclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="tamaño" minOccurs="1"/>
                            <xs:element name="cartucho" minOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="(C-[0-9][0-9][0-9][A-Z]([A-Z]*))" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="ID" name="enred" minOccurs="0" fixed=""/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="numSerie"  use="required"/>
                        <xs:attribute type="xs:string" name="tipo" use="required"/>
                        <xs:attribute type="xs:positiveInteger" name="compra" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>